<h1>Players</h1>
<table>
  <tr>
    <td><%= @num_callsigns %> Callsigns</td>
    <td><%= @num_ips %> IPs</td>
    <td><%= @num_player_connections %> Player Connections</td>
  </tr>
</table>

<div>
  <fieldset>
    <legend>Enter Player Search Criteria</legend>
    <% form_tag do %>
    <% end %>
  </fieldset>
</div>

