<h1>Servers</h1>
<table>
  <tr>
    <th>Host</th>
    <th>Port</th>
    <th>Map Name</th>
    <th>Chat</th>
    <th>Filtered Chat</th>
  </tr>
  <%= render(:partial => "bz_server", :collection => @bz_servers) %>
</table>
