<tr>
  <td><%= group.name %></td>
  <td><%= link_to "Edit", :action => :group_edit, :id => group %></td>
  <td><%= link_to "Delete", { :action => :group_del, :id => group }, :method => :post %></td>
</tr>
