<p>&nbsp; </p>
<h1>System Configuration</h1>
<ul>
<li><%= link_to "Permissions", :action => "permission_list" %></li>
<li><%= link_to "Groups", :action => "group_list" %></li>
<li><%= link_to "Server Hosts", :action => "server_host_list" %></li>
<li><%= link_to "BZFlag Servers", :action => "bz_server_list" %></li>
</ul>
