<h1>System Configuration</h1>
<ul>
  <li><%= link_to "Access Levels", :action => "access_level_list" %></li>
  <li><%= link_to "Groups", :action => "group_list" %></li>
  <li><%= link_to "Server Hosts", :action => "server_host_list" %></li>
  <li><%= link_to "BZFlag Servers", :action => "bzserver_list" %></li>
</ul>
