<div class="bzflag-form">

  <form action="http://my.bzflag.org/weblogin.php" method="post">
    <div>
      <fieldset>
        <legend>Login</legend>
        <label for="username">Username</label>
	<input type="text" name="username" value="">
        <label for="password">Password</label>
	<input type="password" name="password" value="">
	<input type="hidden" name="url" value="http://localhost:3000/login/validate?token=%TOKEN%&amp;username=%USERNAME%">
	<input type="hidden" name="action" value="webvalidate">
        <input type="submit" value="Login">
        <a href="http://my.bzflag.org/weblogin.php?url=http://dev.bzflag.norang.ca/login/validate%3Ftoken%3D%25TOKEN%25%26username%3D%25USERNAME%25">Login@my.bzflag.org</a><br>
        <a href="http://my.bzflag.org/bb/profile.php?mode=sendpassword">Forgot Password</a><br>
        <a href="http://my.bzflag.org/bb/profile.php?mode=register">Register</a>
      </fieldset>
    </div>
  </form>
</div>
