<h1>Validate Token</h1>

<p> Got Username <%= @username %> and token <%= @token %></p>


<p> Username: '<%= @username %>'
<br/> BZid: '<%= @bzid %>'
<br/>Groups: '<%= @groups.join('|') %>'
</p>
<p>
<%= flash[:notice] %>
</p>
