<h1>Validate Token</h1>

<p>
<%= flash[:notice] %>
</p>

  <p> Got the following response:
    <% for line in @response %>
    <br/><%= line %>
    <% end %>
  </p>
  <p>IP is <%= session[:ip] %></p>

<% if session[:username] %>
<table>
  <tr>
    <th>Username</th>
    <th>BZid</th>
    <th>Groups</th>
  </tr>
  <tr>
    <td><%= session[:username] %></td>
    <td><%= session[:bzid] %></td>
    <td><%= session[:groups] && session[:groups][0] %></td>
  </tr>
  <% session[:groups] && 1.upto(session[:groups].length) do |i| %>
  <tr>
    <td></td><td></td><td><%= session[:groups][i] %></td>
  </tr>
  <% end %>
</table>
<% end %>
