<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Administer the BZFlag Website</title>
  <%= stylesheet_link_tag 'scaffold', 'bzflag', :media => "all" %>
</head>
<body id="admin">
  <div id="logo">
    <%= image_tag("logo.png") %>
  </div>
  <div id="banner">
    <%= @page_title || "BZFlag Servers" %>
  </div>
  <div id="columns">
    <div id="side">
      <p>
	<%= link_to "Logout", :controller => 'login', :action => 'logout' %>
      </p>
      <p>
	<%= link_to "Servers", :controller => 'admin', :action => 'list' %>
	<br />
	<%= link_to "Reports", :controller => 'admin', :action => 'list' %>
	<br />
	<%= link_to "Bans", :controller => 'admin', :action => 'list' %>
      </p>
      <p>
	<%= link_to "Help", "http://doc.norang.ca/bzflag_admin_help" %>
	<br />
	<%= link_to "Admins", :controller => 'login', :action => 'admins' %>
	<br />
	<%= link_to "Mailing List", "/admins/bzadmins/threads.html" %>
	<br />
	<%= link_to "Players", :controller => 'login', :action => 'players' %>
	<br />
	<%= link_to "Recordings", :controller => 'login', :action => 'recordings' %>
      </p>
      <p>
	<%= link_to "Forum", "http://my.bzflag.org/bb" %>
	<br />
	<%= link_to "Wiki", "http://my.bzflag.org/w" %>
	<br />
	<%= link_to "Feedback", "mailto:thumper@norang.ca" %>
      </p>
    </div>
    <div id="main">
      <% if flash[:notice] -%>
      <div id="notice"><%= flash[:notice] %></div>
      <% end -%>
      <%= yield :layout %>
    </div>
  </div>
</body>
</html>
